* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  background-image: url(images/pexels-francesco-ungaro-2835436\ 1.png);
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 100px;
  bottom: 0;
  left: 100px;
}
.menu_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.blog_button a {
  color: #3e86f5;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  background-color: white;
  padding: 14px 44px;
  border-radius: 10px;
}
.blog_button a:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s;
}
.blog_button a:active {
  color: #156ef3;
  background-color: rgb(206, 200, 200);
  border: none;
  transition: 0.5s;
}
.blog_button a:disabled {
  color: rgb(91, 89, 89);
  background-color: transparent;
  border: 1px solid rgb(91, 89, 89);
  transition: 0.5s;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}
a {
  text-decoration: none;
  font-size: 48px;
  color: white;
  font-weight: 500;
}
ul li {
  font-size: 24px;
  color: white;
}

.main_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow: hidden;
}
.main_heading {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 10%;
}
.main_heading h1 {
  width: 70%;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
}
.main_heading p {
  width: 60%;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  padding-top: 30px;
}
.details_section {
  height: 30vh;
  padding-left: 130px;
  padding-right: 130px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.flight_details_container {
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 750px;
}
.flights_details_wrapper {
  padding: 60px 48px;
}
.flights_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flights_wrapper h3 {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.flights_wrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}
.search_wrapper {
  background-color: rgba(62, 135, 245, 0.8);
  border-radius: 20px;
}
.search_wrapper:hover {
  filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
  transition: 0.5s;
}
.search_wrapper img {
  padding: 40px 40px 20px 40px;
}
.details_one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  padding: 44px 22px;
  margin-right: 31px;
}
.details_two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  padding: 44px 22px;
  margin-right: 40px;
}
.nested_flight_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nested_flight_wrapper_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offers_section {
  height: 100vh;
  padding-left: 130px;
  padding-right: 130px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.offers h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  padding-bottom: 60px;
}
.team_couple_family {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 10px 26px 10px 10px;
}
.team {
  background-color: #3e86f5;
  border-radius: 10px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 24px;
}
.couple,
.family {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.card_container {
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 21px 27px;
}
.card_image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card_image_details_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}
.relax {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.relax_tag {
  background-color: #fcddec;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #f178b6;
  padding-left: 16px;
  padding-right: 16px;
}
.days_tag {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.image_card_date {
  letter-spacing: 0.5em;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  transform: rotate(90deg);
  margin-left: -60px;
  margin-right: -90px;
}
.cards {
  padding-top: 40px;
}
.booking_price_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.booking_price_wrapper a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3e86f5;
  background-color: #f2f6ff;
  border-radius: 10px;
  padding: 13px 19px;
}
.card_image_details_container .loga {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-top: 12px;
  letter-spacing: 1px;
}
.booking_price_wrapper h3 {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.booking_price_wrapper span {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
}
